# Insights from City Supply and Demand Data

## Contents

1. [Assignment](#Assigment)
2. [Data Exploration](#Data-Exploration)
3. [Question 1](#Question-1)
4. [Question 2](#Question-2)
5. [Question 3](#Question-3)

### Assigment

Using the provided dataset, answer the following questions:

1. Which date had the most completed trips during the two week period?

2. What was the highest number of completed trips within a 24 hour period?

3. Which hour of the day had the most requests during the two week period?

4. What percentages of all zeroes during the two week period occurred on weekend (Friday at 5 pm to Sunday at 3 am)? Tip: The local time value is the start of the hour (e.g. 15 is the hour from 3:00pm - 4:00pm)

5. What is the weighted average ratio of completed trips per driver during the two week period? Tip: "Weighted average" means your answer should account for the total trip volume in each hour to determine the most accurate number in whole period.

6. In drafting a driver schedule in terms of 8 hours shifts, when are the busiest 8 consecutive hours over the two week period in terms of unique requests? A new shift starts in every 8 hours. Assume that a driver will work same shift each day.

7. True or False: Driver supply always increases when demand increases during the two week period. Tip: Visualize the data to confirm your answer if needed.

8. In which 72 hour period is the ratio of Zeroes to Eyeballs the highest?

9. If you could add 5 drivers to any single hour of every day during the two week period, which hour should you add them to? Hint: Consider both rider eyeballs and driver supply when choosing

10. True or False: There is exactly two weeks of data in this analysis

11. Looking at the data from all two weeks, which time might make the most sense to consider a true "end day" instead of midnight? (i.e when are supply and demand at both their natural minimums) Tip: Visualize the data to confirm your answer if needed.

### Data Exploration

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('uber_dataset.csv')
data.head(20)

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
0,10-Sep-12,7,5,0,2,2,9
1,NaN,8,6,0,2,2,14
2,NaN,9,8,3,0,0,14
3,NaN,10,9,2,0,1,14
4,NaN,11,11,1,4,4,11
5,NaN,12,12,0,2,2,11
6,NaN,13,9,1,0,0,9
7,NaN,14,12,1,0,0,9
8,NaN,15,11,2,1,2,7
9,NaN,16,11,2,3,4,6
10,NaN,17,12,2,3,4,4
11,NaN,18,11,1,3,4,7
12,NaN,19,13,2,2,3,7
13,NaN,20,11,1,0,0,5
14,NaN,21,11,0,1,1,3
15,NaN,22,16,3,0,2,4
16,NaN,23,21,5,3,3,4
17,11-Sep-12,0,9,3,1,1,3
18,NaN,1,3,2,0,1,3
19,NaN,2,1,1,0,0,1

In [3]:
data.iloc[:10]

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
0,10-Sep-12,7,5,0,2,2,9
1,NaN,8,6,0,2,2,14
2,NaN,9,8,3,0,0,14
3,NaN,10,9,2,0,1,14
4,NaN,11,11,1,4,4,11
5,NaN,12,12,0,2,2,11
6,NaN,13,9,1,0,0,9
7,NaN,14,12,1,0,0,9
8,NaN,15,11,2,1,2,7
9,NaN,16,11,2,3,4,6

Explanation for line 10 = This means that during the hour beginning at 4pm (hour 16), on September 10th, 2012, 11 people opened the Uber app (Eyeballs). 2 of them did not see any car (Zeroes) and 4 of them requested a car (Requests). Of the 4 requests, only 3 complete trips actually resulted (Completed Trips). During this time, there were a total of 6 drivers who logged in (Unique Drivers).

In [4]:
data.shape

(336, 7)

In [5]:
data.describe()

,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
count,336.00000,336.000000,336.000000,336.000000,336.000000,336.000000
mean,11.50000,19.901786,4.252976,4.062500,5.529762,7.895833
std,6.93251,16.902862,5.795391,5.672581,7.399416,5.884296
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.75000,9.000000,1.000000,0.000000,1.000000,3.000000
50%,11.50000,17.000000,3.000000,2.000000,3.000000,8.000000
75%,17.25000,25.000000,5.000000,5.000000,6.250000,11.000000
max,23.00000,99.000000,59.000000,36.000000,46.000000,30.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              15 non-null     object
 1   Time (Local)      336 non-null    int64
 2   Eyeballs          336 non-null    int64
 3   Zeroes            336 non-null    int64
 4   Completed Trips   336 non-null    int64
 5   Requests          336 non-null    int64
 6   Unique Drivers    336 non-null    int64
dtypes: int64(6), object(1)
memory usage: 18.5+ KB

In [7]:
data.isnull().sum()

Date                321
Time (Local)          0
Eyeballs              0
Zeroes                0
Completed Trips       0
Requests              0
Unique Drivers        0
dtype: int64

As you can see, only the "date" column has null values. When we imported the data, we saw that our "date" column constantly assigns a NULL value until the start of the next day. So we will fill our NULL values using forward fill method.

In [8]:
data = data.fillna(method = 'ffill')
data.head(20)

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
0,10-Sep-12,7,5,0,2,2,9
1,10-Sep-12,8,6,0,2,2,14
2,10-Sep-12,9,8,3,0,0,14
3,10-Sep-12,10,9,2,0,1,14
4,10-Sep-12,11,11,1,4,4,11
5,10-Sep-12,12,12,0,2,2,11
6,10-Sep-12,13,9,1,0,0,9
7,10-Sep-12,14,12,1,0,0,9
8,10-Sep-12,15,11,2,1,2,7
9,10-Sep-12,16,11,2,3,4,6
10,10-Sep-12,17,12,2,3,4,4
11,10-Sep-12,18,11,1,3,4,7
12,10-Sep-12,19,13,2,2,3,7
13,10-Sep-12,20,11,1,0,0,5
14,10-Sep-12,21,11,0,1,1,3
15,10-Sep-12,22,16,3,0,2,4
16,10-Sep-12,23,21,5,3,3,4
17,11-Sep-12,0,9,3,1,1,3
18,11-Sep-12,1,3,2,0,1,3
19,11-Sep-12,2,1,1,0,0,1

Column 'Time (Local)' seems hard to understand. I will fix this using Pandas to_datetime function.

In [47]:
data['Time'] = data.apply(lambda x : pd.to_datetime(f"{x['Date']} {x['Time (Local)']}:00"), axis = 1)

In [48]:
data

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers,Time
0,10-Sep-12,7,5,0,2,2,9,2012-09-10 07:00:00
1,10-Sep-12,8,6,0,2,2,14,2012-09-10 08:00:00
2,10-Sep-12,9,8,3,0,0,14,2012-09-10 09:00:00
3,10-Sep-12,10,9,2,0,1,14,2012-09-10 10:00:00
4,10-Sep-12,11,11,1,4,4,11,2012-09-10 11:00:00
...,...,...,...,...,...,...,...,...
331,24-Sep-12,2,3,3,0,2,0,2012-09-24 02:00:00
332,24-Sep-12,3,3,3,0,1,0,2012-09-24 03:00:00
333,24-Sep-12,4,1,1,0,0,0,2012-09-24 04:00:00
334,24-Sep-12,5,4,2,1,1,3,2012-09-24 05:00:00
335,24-Sep-12,6,9,1,2,2,7,2012-09-24 06:00:00

## Question 1

1. Which date had the most completed trips during the two week period?

In [50]:
data_question_1 = data.groupby('Date').sum().reset_index()
data_question_1.head(3)

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
0,10-Sep-12,255,189,26,26,34,138
1,11-Sep-12,276,314,64,40,52,132
2,12-Sep-12,276,423,55,91,114,201

In [56]:
data_question_1.nlargest(1, 'Completed Trips ')

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
12,22-Sep-12,276,960,219,248,344,292

The answer to this question is September 22, 2012

## Question 2

2. What was the highest number of completed trips within a 24 hour period?

The question asks us to create forward 24-hour periods. We can do it by creating FixedForwardWindowIndexer and using it to apply the rolling sum function of pandas.

For some problems knowledge of the future is available for analysis. For example, this occurs when each data point is a full time series read from an experiment, and the task is to extract underlying conditions. In these cases it can be useful to perform forward-looking rolling window computations. FixedForwardWindowIndexer class is available for this purpose.

In [68]:
indexer = pd.api.indexers.FixedForwardWindowIndexer(window_size=24)

data_question_2 = data.set_index('Time').rolling(window = indexer , min_periods = 1).sum()
data_question_2

/var/folders/9q/jfjy60yj2tb9g_kpwyt_g0b80000gn/T/ipykernel_1015/1698424241.py:3: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date'], dtype='object')
  data_question_2 = data.set_index('Time').rolling(window = indexer , min_periods = 1).sum()

,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
Time,,,,,,
2012-09-10 07:00:00,276.0,212.0,38.0,29.0,39.0,150.0
2012-09-10 08:00:00,276.0,217.0,38.0,29.0,39.0,146.0
2012-09-10 09:00:00,276.0,222.0,40.0,27.0,37.0,138.0
2012-09-10 10:00:00,276.0,229.0,39.0,27.0,37.0,130.0
2012-09-10 11:00:00,276.0,232.0,38.0,28.0,37.0,124.0
...,...,...,...,...,...,...
2012-09-24 02:00:00,20.0,20.0,10.0,3.0,6.0,10.0
2012-09-24 03:00:00,18.0,17.0,7.0,3.0,4.0,10.0
2012-09-24 04:00:00,15.0,14.0,4.0,3.0,3.0,10.0
2012-09-24 05:00:00,11.0,13.0,3.0,3.0,3.0,10.0
2012-09-24 06:00:00,6.0,9.0,1.0,2.0,2.0,7.0

In [69]:
data_question_2.nlargest(1, 'Completed Trips ')

,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
Time,,,,,,
2012-09-21 17:00:00,276.0,1015.0,207.0,278.0,367.0,349.0

We found the result as 278.0 Completed Trips dated 2012-09-21 17:00. The 24-hour period of this result will be 2012/09/21 17:00 - 2012/09/22 17:00. Let's see this result more clearly and simply.

In [70]:
data_question_2['24-hour period'] = data_question_2.index.strftime('%Y/%m/%d %H:%S') + ' - ' + (data_question_2.index + pd.Timedelta('24-hours')).strftime('%Y/%m/%d %H:%S')
data_question_2

,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers,24-hour period
Time,,,,,,,
2012-09-10 07:00:00,276.0,212.0,38.0,29.0,39.0,150.0,2012/09/10 07:00 - 2012/09/09 07:00
2012-09-10 08:00:00,276.0,217.0,38.0,29.0,39.0,146.0,2012/09/10 08:00 - 2012/09/09 08:00
2012-09-10 09:00:00,276.0,222.0,40.0,27.0,37.0,138.0,2012/09/10 09:00 - 2012/09/09 09:00
2012-09-10 10:00:00,276.0,229.0,39.0,27.0,37.0,130.0,2012/09/10 10:00 - 2012/09/09 10:00
2012-09-10 11:00:00,276.0,232.0,38.0,28.0,37.0,124.0,2012/09/10 11:00 - 2012/09/09 11:00
...,...,...,...,...,...,...,...
2012-09-24 02:00:00,20.0,20.0,10.0,3.0,6.0,10.0,2012/09/24 02:00 - 2012/09/23 02:00
2012-09-24 03:00:00,18.0,17.0,7.0,3.0,4.0,10.0,2012/09/24 03:00 - 2012/09/23 03:00
2012-09-24 04:00:00,15.0,14.0,4.0,3.0,3.0,10.0,2012/09/24 04:00 - 2012/09/23 04:00
2012-09-24 05:00:00,11.0,13.0,3.0,3.0,3.0,10.0,2012/09/24 05:00 - 2012/09/23 05:00
2012-09-24 06:00:00,6.0,9.0,1.0,2.0,2.0,7.0,2012/09/24 06:00 - 2012/09/23 06:00

In [75]:
print("Number of completed trips : " , data_question_2.nlargest(1, 'Completed Trips ')['Completed Trips '][0])
print("24-hour period            : " , data_question_2.nlargest(1, 'Completed Trips ')['24-hour period'][0])

Number of completed trips :  278.0
24-hour period            :  2012/09/21 17:00 - 2012/09/20 17:00

## Question 3

3. Which hour of the day had the most requests during the two week period?